@import "tailwindcss";


body {
  margin: 0;
  background: linear-gradient(135deg, #f0f4ff 0%, #f8fafc 100%);
  background-attachment: fixed;
  min-height: 100vh;
}


.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color: #4f46e5; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}